<!DOCTYPE HTML>
<html>
  <head>
		<meta charset="utf-8" />
    <title>Leaflet example in one file</title>

		<!-- include leaflet css and javascript -->
		<link rel="stylesheet" crossorigin=""
				href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
		<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js"
						crossorigin=""></script>

		<style type="text/css">
			#map {
			  height: 600px;
			}
		</style>
	</head>

	<body>

		<div id="map"></div>

		<script>
			/* eslint-disable no-undef */
			/**
			 * geoJSON simple
			 */

			// config map
			let config = {
			minZoom: 14,
			maxZoom: 18,
			};
			// magnification with which the map will start
			const zoom = 6;
			
		
			// co-ordinates
			const lat = -3.39753;
			const lng = -42.2221829;

			// calling map
			const map = L.map("map", config).setView([lat, lng], zoom);

			// Used to load and display tile layers on the map
			// Most tile servers require attribution, which you can set under `Layer`
			L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
			attribution:
				'&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
			}).addTo(map);

			function onEachFeature(feature, layer) {
			layer.bindPopup(feature.properties.nazwa);
			}

			// adding geojson by fetch
			// of course you can use jquery, axios etc.
			fetch("https://raw.githubusercontent.com/SauloCandeira/metaverse/main/data/testes.geojson")
			.then(function (response) {
				return response.json();
			})
			.then(function (data) {
				// use geoJSON
				L.geoJSON(data, {
				onEachFeature: onEachFeature,
				}).addTo(map);
			});
		</script>
	</body>
</html>
